
* {
  box-sizing: border-box;
  border: 1px solid black;
}
body {
  width:1300px;
  height: 2104px;
}



.leftContent {
  width: 842px;
  height: 1184px;
  font-family: Oswald;
  font-size: 1em;
  float:left;
}

blockquote {
  font-family: Open Sans;
  margin-left-color: #d6d6d6;
  font-size: 1.5em;
}

.rightContent {
  width: 420px;
  height: 1184px;
  float:left;
  font-family: Oswald;
  font-size: 1em;
}

.adContainer {
  text-align: center;
}

.adlink2 {
  float:right;
  text-decoration: none;
}

.bottom {
  background-color: #083451;
  height: 548px;
  width: 1300px;
  clear: both;
}
h5 {
  font-size: 5em;
  z-index: 1;
  background-color: white;
  vertical-align: top;
}

.imageFooter {
  float: left;
  width: 326px;
  height: 330px;
  scale: auto;
}
