/*Global Element*/

body {
	height: 2104px;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	/*overflow: hidden;*/
}

ul {
	list-style: none;
}

/*Class Selectors*/

/* Header */

.headerPicture {
	width:1300px;
	height: 520px;
}

.topNavBar {
	width: 1088px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

/****** Left Column *****/
.leftcontent {
	width: 842px;
	height: 1185px;
	background-color: gray;
	border: 2px solid black;
	float: left;
	text-align: left;
	margin-top: 1px;
	margin-bottom: 1px;

}

.largeblue {
	font-size: 60px;
	font-family: Oswald;
}

.leftcontenttext {
	font-family: Oswald;
}

.whoa {
	margin:0;
	list-style: none;
	border-left: 3px;
	margin: 30px;
}

/* Left Column Buttons */

/*.leftColumnButton {
	height: 30px;
	width:100px;
	background-color: blue;
	float: left;
}*/

.leftColumnButtonOne {
	width: 160px;
	height: 30px;
	background-color:blue;
	float:left;
}

.leftColumnButtonTwo {
	width: 160px;
	height: 30px;
	background-color:blue;
	float:left;
} 

.leftColumnButtonThree {
	width: 120px;
	height: 30px;
	background-color:blue;
	float:left;
}

/****** Right Column *****/

.rightcontent {
	width: 420px;
	height: 1185px;
	background-color: gray;
	border: 2px solid black;
	float: right;
}

.avatar {
	height: 100px;
	width: 100px;
	text-align: center;
}

/*Id Selectors*/